@{
    Layout = "_Layout.cshtml";
}

@model List<CategoryListModel>

@if (Model?.Count > 0)
{
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Definition</td>
                <td>İşlemler</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Definition</td>
                    <td>
                        <a asp-action="Create" asp-controller="Category" class="btn btn-warning btn-sm">Kayıt Ekle</a>
                        <a asp-action="Update" asp-controller="Category" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Kayıt Güncelle</a>
                        <a asp-action="Delete" asp-controller="Category" asp-route-id="@item.Id">Kayıt Sil</a>
                   </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center">
        Herhangi bir kayıt bulunamadı
    </div>
}
